*.mod
*.o
*.a
*.diff
*.exe
*.in
*.out
*~
*.d
*.aux
*.log
*.pdf
run*/
Makefile.def
Makefile.RULES
Makefile.DEPEND
Makefile.local
Makefile.conf
Tmp_*
util/
data
share
include/show_git_info.h
include/Constants.h
gitinfo.txt
*__pycache__
Backtrace.*
tools/.ipynb*
tools/*user.py